body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.m-0 {
  margin: 0 !important;
}

.bg-inverted {
  background-color: rgb(27, 28, 29);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-height {
  max-height: 100vh;
  height: 100vh;
}

.sections {
  display: flex;
}

.section {
  min-width: 280px;
  width: 280px;
  display: flex;
}

.borderless input {
  border: 0 !important;
  padding: 0 !important;
}

.subtask {
  cursor: pointer;
  display: flex !important;
  align-items: center;
}

.subtask:hover {
  background-color: #f5f5f5;
}

.subtask-input {
  flex-grow: 1;
}

.complete-icon {
  cursor: pointer;
  transition: 0.5s all;
  margin-right: 10px !important;
}

.complete-icon:hover {
  color: #21ba45;
  box-shadow: 0 0 0 0.1em #21ba45 inset !important;
}
